doctype html
html(lang="en" ng-app)
  head
    title Thomas Suchyta
    meta(charset='utf-8')
    script(src='angular/angular.js')
  body
    img(src='images/self-portrait.jpg')
    p Nothing here {{'yet' + '!'}}
